<div class="card col-12 col-lg-4 col-md-6">
<a href="/week/{{num}}"><img class="card-img-top" src="{{image}}" alt="..."></a>
        <div class="card-body">  
          <h4 class="card-title">Week {{num}}</h4>
          <p class="card-text">
            <a href="/week/{{num}}" class="start-workout">View Week {{num}}</a> <br>
            {{description}} <br>          
          </p> 
          <button type="button" onclick="week1Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title welcome-header" id="exampleModalLongTitle">It's fitness testing time...</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Before you move onto the next week let's check in on your progress. <br> Set the timer for 60 seconds and complete as many reps of each of the below exercise (with correct technique) and enter the number of reps you complete.</p>
        </div>
        <form>
          <div class="form-group" id="popup-form">
            <label for="exercise-pushups" class="col-form-label">Pushups</label>
            <input type="text" class="form-control form-text" id="exercise-pushups" placeholder="Pushups completed">
          </div>
          <div class="form-group" id="popup-form">
            <label for="exercise-situps" class="col-form-label">Situps</label>
            <input type="text" class="form-control form-text" id="exercise-situps" placeholder="Situps completed">
          </div>
          <div class="form-group" id="popup-form">
            <label for="exercise-burpees" class="col-form-label">Burpees</label>
            <input type="text" class="form-control form-text" id="exercise-burpees" placeholder="Burpees completed">
          </div>
        </form>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary popup-btn">Submit</button>
        </div>
      </div>
    </div>
  </div>