<div class="card col-12 col-lg-4 col-md-6">
<a href="/week/{{num}}"><img class="card-img-top" src="{{image}}" alt="..."></a>
        <div class="card-body">  
          <h4 class="card-title">Week {{num}}</h4>
          <p class="card-text">
            <a href="/week/{{num}}" class="start-workout">View Week {{num}}</a> <br>
            {{description}} <br>          
          </p> 
          <button type="button" onclick="week1Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
</div>